* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: #b91450;
}
/* header */
header {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;}

h1 {
    color: white;
}
/* fine header */

/* main */
/* container superiore */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px black;
}

.opzioni{
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}

.opzioni label {
    margin-bottom: 20px;
    color: #b91450;
    text-align: center;
}

.opzioni input,
.opzioni select {
    border: 2px solid #b91450;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;  
}

.opzioni input:focus,
.opzioni select:focus {
    background-color: #b91450;
    color: white; 
    outline-style: none;
}

.comandi button {
    margin: 20px 5px;
    padding: 5px;
    color:  #b91450;
    font-weight: bold;
    font-size: 15px;
    background-color: #cccccc;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.comandi button:hover {
    background-color: #808080;
}
/* fine container superiore */

/* container inferiore */
.container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto 0;
}

#biglietto {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    display: none;
}

.info {
    height: 150px;
    display: flex;
}

.passeggero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #808080;
    width: 20%;
}

.offerta,
.carrozza,
.codice,
.costo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    padding-left: 20px;
}
/* fine container inferiore */

/* fine main */

